# Connect to Supabase via connection pooling with Supavisor.
DATABASE_URL="postgres://postgres:AKpOMWVVpQS6SeW9@aws-0-ap-southeast-1.pooler.supabase.com:6543/postgres?pgbouncer=true"

# Direct connection to the database. Used for migrations.
DIRECT_URL="postgres://postgres:AKpOMWVVpQS6SeW9@db.kwnawvdsyvcuwmcsoivn.supabase.co:5432/postgres"

# Better Auth
BETTER_AUTH_SECRET="secret_key"
NEXT_PUBLIC_BASE_URL="http://localhost:3000"